@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --cormenu: #5585E6;
    --corletra: #fff;
    --preto: #0e0e0e;

    --letrapadrao: font-family: 'Inter', sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
}
header {
    width: 100vw;
    height: 50vh;
    background-color: var(--cormenu);
    color: var(--corletra);
}
.cabeçalho {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 2%;
}
.cabeçalho > img {
    width: max(20%, 150px);
    margin: 1% 0 1% 0;
}
.cabeçalho > h1 {
    font-size: max(2.7em, 22px);
    font-variant: small-caps;
}
ul {
    display: inline;
    display: flex;
    justify-content: left;
    text-align: center;
    position: relative;
    bottom: 20px;
}
li {
    padding-left: 1%;
    list-style: none;
    width: 115px;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
}
li > a {
    text-decoration: none;
    color: var(--corletra);
    font-size: 1.1em;
}
li:hover {
    text-decoration: underline;
    background-color: #3f68bba2;
    transition-duration: 0.5s;
}
main > h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 10% 0 10% 0;
}
main > p {
    text-align: left;
    width: max(400px, 50vw);
    margin: 0 5%;
    letter-spacing: 1px;
    line-height: 1.5em;
    margin: 5% auto;
}
#botao {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.363);
}
footer {
    text-align: center;
    color: var(--corletra);
    background-color: var(--preto);
    font-style: italic;
    font-weight: lighter;
    margin-top: 10%; 
}
